*{
    margin: 0;
    padding: 0;
}
.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #222;
}
.wrap-images{
    margin-top: 40px;
    border-radius: 50%;
    margin-bottom: 25px;
}
.words-wrapper{
    margin-bottom: 10px;
    color: #fff;
}.words-wrapper-two{
    color: #fff;
    margin-bottom: 40px;
}
.web-sites{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.a-links-one{
    margin-bottom: 10px;
    width: 600px;
    height: 50px;
    background-color: #fff;
    color: #222;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.a-links-two{
    margin-bottom: 10px;
    width: 600px;
    height: 50px;
    background-color:rgb(79, 196, 104);
    color: #fff;
    border: 1px solid rgb(79, 196, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.a-links-three{
    margin-bottom: 10px;
    width: 600px;
    height: 50px;
    background-color:darkturquoise;
    color: #fff;
    border: 1px solid darkturquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.a-links-four{
    margin-bottom: 60px;
    width: 600px;
    height: 50px;
    background-color: darkviolet;
    color: #fff;
    border: 1px solid darkviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.footer-images{
    margin-top: 0;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
color: #222;
}